/* ===== 変数の定義 ===== */
/* 色 */
:root {
  --primary-color: #138ea5;
  --secondary-color: #17a4bd;
  --tertiary-color: #096172;
  --background-color: #e9f7f9;
  --success-color-1: #2c9d65;
  --success-color-2: #1f7a4d;
  --error-color-1: #ea0016;
  --error-color-2: #cc0012;
  --warning-color-1: #b68e1e;
  --warning-color-2: #917216;
  --text-color-body: #1a1a1c;
  --text-color-discription: #626264;
  --text-color-placeholder: #757578;
  --text-color-onfill: #ffffff;
  --text-color-link: #0017c1;
  --text-color-link-active: #000082;
  --text-color-alert: #ec0000;
  --text-color-disabled: #949497;
}

/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

body {
  font-family: "Noto Sans JP";
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  padding-top: 60px;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  padding: 20px 60px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav .header-menu {
  display: flex;
}

header .nav .header-menu li {
  list-style: none;
  margin-left: 40px;
  color: var(--text-color-onfill);
}

header .nav .header-menu li a {
  color: var(--text-color-link);
  font-weight: bold;
  text-decoration: none;
}

header h1 {
  color: var(--text-color-onfill);
}

header p {
  color: var(--text-color-onfill);
}

a:link {
  color: var(--text-color-link);
}

a:visited {
  color: var(--text-color-link-active);
}

a:focus {
  color: var(--text-color-link-active);
}

/* ボタン */
button {
  background: var(--secondary-color);
  color: var(--text-color-onfill);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

/* ボタンにさわったとき */
button:hover {
  background: var(--tertiary-color);
  cursor: pointer;
}

p {
  margin-left: 30px;
  color: var(--text-color-discription);
}

input:placeholder {
  color: var(--text-color-placeholder);
}

main h2 {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
  border-left-color: var(--secondary-color);
  margin-left: 30px;
}

.hidden {
  display: none;
}

.noborder {
  margin: auto;
}

.noborder table th {
  padding: 10px;
  color: var(--text-color-body);
}

.noborder table td {
  padding: 3px 10px;
  color: var(--text-color-discription);
}

/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100; /* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: var(--primary-color);
  transition: 0.5s;
  text-align: center;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;
}

/* footerセクション */
footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color-onfill);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
